
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="login-box md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <form name="loginForm" ng-submit="login($event)">
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Username</label>
                    <input type="text" name="username" required ng-model="login.username">
                    <div ng-messages="login.username.$error">
                        <div ng-message="required">This is required.{{login.username.$error}}</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" required ng-model="login.password" required>
                </md-input-container>

                <p style="color:red" ng-show="invalidCreds">Invalid credentials</p>

                <div layout="row" class="action-buttons">
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>